@mixin myMixin ($x,$y,$pseudo:false) {

    @if ($pseudo == true) {
        padding-top:( $y / $x);
        width:100%;
    }@else {
        width:100%;
    }
}
.first-div {
    @include myMixin(10, 60,true);
    background-color:rgb(224, 188, 220);
}


